[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn="*"
whitenoise="==4.1.2"
django-heroku="==0.3.1"
django="*"
Pillow="==5.2.0"
psycopg2="==2.7.5"
psycopg2-binary="==2.7.5"
pytz="==2018.5"

[requires]
python_version = "3.7.3"
